{{- $sentence := split (.Get "sentence") " " }}
{{- $gloss := split (.Get "gloss") " " }}

{{- $key := "gloss_counter" }}

{{- if not (.Page.Scratch.Get $key) }}
    {{- .Page.Scratch.Set $key 0 }}
{{- end }}

{{- $count := add (.Page.Scratch.Get $key) 1 }}
{{- .Page.Scratch.Set $key $count}}

<div class="example">
    <span class="count">({{ $count }})</span>
    <div>
        <p class="source">{{ .Get "source" }}</p>
        <div class="gloss-grid" style="grid-template-columns: repeat({{ len $sentence }}, auto);">
            {{- range $sentence }}
                <p class="sentence">{{ . }}</p>
            {{- end }}
            {{- range $gloss }}
                <p class="gloss">{{ . }}</p>
            {{- end }}
        </div>
        <p class="translation">「{{ .Get "translation" }}」</p>
    </div>
</div>