{{- $hasHeader := .Get "header" | default "true" }}
{{- $tables := split (.Inner | strings.TrimSpace) ">&" }}

<div class="sect-table">
    {{- range $tables }}
        <table>
            {{- range $i, $row := split (strings.TrimSpace .) "\n" }}
                {{- if ne (strings.TrimSpace $row) "" }}
                    {{- $cols := split $row "|" }}
                    <tr>
                        {{- range $cols }}
                            {{- $content := strings.TrimSpace . }}
                            {{- $colspan := "1" }}

                            {{- if findRE ">#[0-9]+" $content }}
                                {{- $meta := index (findRE ">#[0-9]+" $content) 0 }}
                                {{- $content = replace $content $meta "" | strings.TrimSpace }}
                                {{- $colspan = replace $meta ">#" "" }}
                            {{- end }}

                            {{- if and (eq $hasHeader "true") (eq $i 0) }}
                                <th {{ if ne $colspan "1" }} colspan="{{ $colspan }}" {{ end }} >
                                    {{ $content }}
                                </th>
                            {{- else }}
                                <td {{ if ne $colspan "1" }} colspan="{{ $colspan }}" {{ end }} >
                                    {{ $content}}
                                </td>
                            {{- end }}
                        {{- end }}
                    </tr>
                {{- end }}
            {{- end }}
        </table>
    {{- end }}
</div>